Metrica.Rrhh.Colaboradores/Connected Services/WSEmpleado/EmpleadoService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://MetricaAndina/Colaboradores/IEmpleadoService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://MetricaAndina/Colaboradores/IEmpleadoService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://MetricaAndina/Colaboradores/IEmpleadoService/Imports">
      <xsd:import schemaLocation="http://localhost:19560/EmpleadoService.svc?xsd=xsd0" namespace="http://MetricaAndina/Colaboradores/IEmpleadoService" />
      <xsd:import schemaLocation="http://localhost:19560/EmpleadoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Service.Extension" />
      <xsd:import schemaLocation="http://localhost:19560/EmpleadoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:19560/EmpleadoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Entity.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpleadoService_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_Obtener_FaultDTOFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Service.Extension" name="detail" element="q1:FaultDTO" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_Listar_FaultDTOFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Service.Extension" name="detail" element="q2:FaultDTO" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_Actualizar_FaultDTOFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Service.Extension" name="detail" element="q3:FaultDTO" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_Eliminar_FaultDTOFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Service.Extension" name="detail" element="q4:FaultDTO" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_Insertar_FaultDTOFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Service.Extension" name="detail" element="q5:FaultDTO" />
  </wsdl:message>
  <wsdl:portType name="IEmpleadoService">
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://MetricaAndina/Colaboradores/IEmpleadoService/IEmpleadoService/Obtener" message="tns:IEmpleadoService_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://MetricaAndina/Colaboradores/IEmpleadoService/IEmpleadoService/ObtenerResponse" message="tns:IEmpleadoService_Obtener_OutputMessage" />
      <wsdl:fault wsaw:Action="http://MetricaAndina/Colaboradores/IEmpleadoService/IEmpleadoService/ObtenerFaultDTOFault" name="FaultDTOFault" message="tns:IEmpleadoService_Obtener_FaultDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://MetricaAndina/Colaboradores/IEmpleadoService/IEmpleadoService/Listar" message="tns:IEmpleadoService_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://MetricaAndina/Colaboradores/IEmpleadoService/IEmpleadoService/ListarResponse" message="tns:IEmpleadoService_Listar_OutputMessage" />
      <wsdl:fault wsaw:Action="http://MetricaAndina/Colaboradores/IEmpleadoService/IEmpleadoService/ListarFaultDTOFault" name="FaultDTOFault" message="tns:IEmpleadoService_Listar_FaultDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://MetricaAndina/Colaboradores/IEmpleadoService/IEmpleadoService/Actualizar" message="tns:IEmpleadoService_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://MetricaAndina/Colaboradores/IEmpleadoService/IEmpleadoService/ActualizarResponse" message="tns:IEmpleadoService_Actualizar_OutputMessage" />
      <wsdl:fault wsaw:Action="http://MetricaAndina/Colaboradores/IEmpleadoService/IEmpleadoService/ActualizarFaultDTOFault" name="FaultDTOFault" message="tns:IEmpleadoService_Actualizar_FaultDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://MetricaAndina/Colaboradores/IEmpleadoService/IEmpleadoService/Eliminar" message="tns:IEmpleadoService_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://MetricaAndina/Colaboradores/IEmpleadoService/IEmpleadoService/EliminarResponse" message="tns:IEmpleadoService_Eliminar_OutputMessage" />
      <wsdl:fault wsaw:Action="http://MetricaAndina/Colaboradores/IEmpleadoService/IEmpleadoService/EliminarFaultDTOFault" name="FaultDTOFault" message="tns:IEmpleadoService_Eliminar_FaultDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://MetricaAndina/Colaboradores/IEmpleadoService/IEmpleadoService/Insertar" message="tns:IEmpleadoService_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://MetricaAndina/Colaboradores/IEmpleadoService/IEmpleadoService/InsertarResponse" message="tns:IEmpleadoService_Insertar_OutputMessage" />
      <wsdl:fault wsaw:Action="http://MetricaAndina/Colaboradores/IEmpleadoService/IEmpleadoService/InsertarFaultDTOFault" name="FaultDTOFault" message="tns:IEmpleadoService_Insertar_FaultDTOFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>