Metrica.Rrhh.Colaboradores.SW/Connected Services/WSNotificacion/NotificacionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://MetricaAndina/Colaboradores/INotificacionService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://MetricaAndina/Colaboradores/INotificacionService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://MetricaAndina/Colaboradores/INotificacionService/Imports">
      <xsd:import schemaLocation="http://localhost:19560/NotificacionService.svc?xsd=xsd0" namespace="http://MetricaAndina/Colaboradores/INotificacionService" />
      <xsd:import schemaLocation="http://localhost:19560/NotificacionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Service.Extension" />
      <xsd:import schemaLocation="http://localhost:19560/NotificacionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:19560/NotificacionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Entity.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotificacionService_EnviarEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmail" />
  </wsdl:message>
  <wsdl:message name="INotificacionService_EnviarEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmailResponse" />
  </wsdl:message>
  <wsdl:message name="INotificacionService_EnviarEmail_FaultDTOFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Service.Extension" name="detail" element="q1:FaultDTO" />
  </wsdl:message>
  <wsdl:message name="INotificacionService_EnviarEmailPendientesQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmailPendientesQueue" />
  </wsdl:message>
  <wsdl:message name="INotificacionService_EnviarEmailPendientesQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmailPendientesQueueResponse" />
  </wsdl:message>
  <wsdl:message name="INotificacionService_EnviarEmailPendientesQueue_FaultDTOFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Service.Extension" name="detail" element="q2:FaultDTO" />
  </wsdl:message>
  <wsdl:portType name="INotificacionService">
    <wsdl:operation name="EnviarEmail">
      <wsdl:input wsaw:Action="http://MetricaAndina/Colaboradores/INotificacionService/INotificacionService/EnviarEmail" message="tns:INotificacionService_EnviarEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://MetricaAndina/Colaboradores/INotificacionService/INotificacionService/EnviarEmailResponse" message="tns:INotificacionService_EnviarEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://MetricaAndina/Colaboradores/INotificacionService/INotificacionService/EnviarEmailFaultDTOFault" name="FaultDTOFault" message="tns:INotificacionService_EnviarEmail_FaultDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailPendientesQueue">
      <wsdl:input wsaw:Action="http://MetricaAndina/Colaboradores/INotificacionService/INotificacionService/EnviarEmailPendientesQueue" message="tns:INotificacionService_EnviarEmailPendientesQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://MetricaAndina/Colaboradores/INotificacionService/INotificacionService/EnviarEmailPendientesQueueResponse" message="tns:INotificacionService_EnviarEmailPendientesQueue_OutputMessage" />
      <wsdl:fault wsaw:Action="http://MetricaAndina/Colaboradores/INotificacionService/INotificacionService/EnviarEmailPendientesQueueFaultDTOFault" name="FaultDTOFault" message="tns:INotificacionService_EnviarEmailPendientesQueue_FaultDTOFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>