Metrica.Rrhh.Colaboradores.Test/Connected Services/WSCandidato/CandidatoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Service.Extension" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Service.Extension" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FaultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaultId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultDTO" nillable="true" type="tns:FaultDTO" />
</xs:schema>