Metrica.Rrhh.Colaboradores.BL/Connected Services/WSPostulacion/PostulacionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://MetricaAndina/Colaboradores/IPostulacionService" elementFormDefault="qualified" targetNamespace="http://MetricaAndina/Colaboradores/IPostulacionService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:19560/PostulacionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Entity.DTO" />
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Entity.DTO" minOccurs="0" name="entity" nillable="true" type="q1:PostulanteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Entity.DTO" minOccurs="0" name="ListarResult" nillable="true" type="q2:ArrayOfPostulanteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Entity.DTO" minOccurs="0" name="entity" nillable="true" type="q3:PostulanteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Entity.DTO" minOccurs="0" name="entity" nillable="true" type="q4:PostulanteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Entity.DTO" minOccurs="0" name="entity" nillable="true" type="q5:PostulanteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Aprobar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Entity.DTO" minOccurs="0" name="entity" nillable="true" type="q6:PostulanteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AprobarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>