Metrica.Rrhh.Colaboradores.Test/Connected Services/WSPostulacion/PostulacionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://MetricaAndina/Colaboradores/IPostulacionService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://MetricaAndina/Colaboradores/IPostulacionService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://MetricaAndina/Colaboradores/IPostulacionService/Imports">
      <xsd:import schemaLocation="http://localhost:19560/PostulacionService.svc?xsd=xsd0" namespace="http://MetricaAndina/Colaboradores/IPostulacionService" />
      <xsd:import schemaLocation="http://localhost:19560/PostulacionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Service.Extension" />
      <xsd:import schemaLocation="http://localhost:19560/PostulacionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:19560/PostulacionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Entity.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPostulacionService_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IPostulacionService_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IPostulacionService_Listar_FaultDTOFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Service.Extension" name="detail" element="q1:FaultDTO" />
  </wsdl:message>
  <wsdl:message name="IPostulacionService_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IPostulacionService_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IPostulacionService_Insertar_FaultDTOFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Service.Extension" name="detail" element="q2:FaultDTO" />
  </wsdl:message>
  <wsdl:message name="IPostulacionService_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IPostulacionService_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IPostulacionService_Actualizar_FaultDTOFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Service.Extension" name="detail" element="q3:FaultDTO" />
  </wsdl:message>
  <wsdl:message name="IPostulacionService_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IPostulacionService_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IPostulacionService_Eliminar_FaultDTOFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Service.Extension" name="detail" element="q4:FaultDTO" />
  </wsdl:message>
  <wsdl:message name="IPostulacionService_Aprobar_InputMessage">
    <wsdl:part name="parameters" element="tns:Aprobar" />
  </wsdl:message>
  <wsdl:message name="IPostulacionService_Aprobar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AprobarResponse" />
  </wsdl:message>
  <wsdl:message name="IPostulacionService_Aprobar_FaultDTOFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Metrica.Rrhh.Colaboradores.Service.Extension" name="detail" element="q5:FaultDTO" />
  </wsdl:message>
  <wsdl:portType name="IPostulacionService">
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://MetricaAndina/Colaboradores/IPostulacionService/IPostulacionService/Listar" message="tns:IPostulacionService_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://MetricaAndina/Colaboradores/IPostulacionService/IPostulacionService/ListarResponse" message="tns:IPostulacionService_Listar_OutputMessage" />
      <wsdl:fault wsaw:Action="http://MetricaAndina/Colaboradores/IPostulacionService/IPostulacionService/ListarFaultDTOFault" name="FaultDTOFault" message="tns:IPostulacionService_Listar_FaultDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://MetricaAndina/Colaboradores/IPostulacionService/IPostulacionService/Insertar" message="tns:IPostulacionService_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://MetricaAndina/Colaboradores/IPostulacionService/IPostulacionService/InsertarResponse" message="tns:IPostulacionService_Insertar_OutputMessage" />
      <wsdl:fault wsaw:Action="http://MetricaAndina/Colaboradores/IPostulacionService/IPostulacionService/InsertarFaultDTOFault" name="FaultDTOFault" message="tns:IPostulacionService_Insertar_FaultDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://MetricaAndina/Colaboradores/IPostulacionService/IPostulacionService/Actualizar" message="tns:IPostulacionService_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://MetricaAndina/Colaboradores/IPostulacionService/IPostulacionService/ActualizarResponse" message="tns:IPostulacionService_Actualizar_OutputMessage" />
      <wsdl:fault wsaw:Action="http://MetricaAndina/Colaboradores/IPostulacionService/IPostulacionService/ActualizarFaultDTOFault" name="FaultDTOFault" message="tns:IPostulacionService_Actualizar_FaultDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://MetricaAndina/Colaboradores/IPostulacionService/IPostulacionService/Eliminar" message="tns:IPostulacionService_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://MetricaAndina/Colaboradores/IPostulacionService/IPostulacionService/EliminarResponse" message="tns:IPostulacionService_Eliminar_OutputMessage" />
      <wsdl:fault wsaw:Action="http://MetricaAndina/Colaboradores/IPostulacionService/IPostulacionService/EliminarFaultDTOFault" name="FaultDTOFault" message="tns:IPostulacionService_Eliminar_FaultDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Aprobar">
      <wsdl:input wsaw:Action="http://MetricaAndina/Colaboradores/IPostulacionService/IPostulacionService/Aprobar" message="tns:IPostulacionService_Aprobar_InputMessage" />
      <wsdl:output wsaw:Action="http://MetricaAndina/Colaboradores/IPostulacionService/IPostulacionService/AprobarResponse" message="tns:IPostulacionService_Aprobar_OutputMessage" />
      <wsdl:fault wsaw:Action="http://MetricaAndina/Colaboradores/IPostulacionService/IPostulacionService/AprobarFaultDTOFault" name="FaultDTOFault" message="tns:IPostulacionService_Aprobar_FaultDTOFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>